<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.leanovate.alfred.layout</string>
	<key>connections</key>
	<dict>
		<key>1DABD84A-FE15-4A4F-8D33-40231B8E1DA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>277EB8CF-2B86-4F8D-868C-7E39EE34ACD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A48E0764-141D-4E14-A1DF-B500E5E78025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>29660068-25AD-4F84-BDFF-A53D0AA57A5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>673C9067-7A5F-456B-8D36-9944A2E363B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>328173F0-A7F1-4EA9-BE6B-47353EAF5010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>546DA8C7-B598-424E-A5D6-84E7F9B28E9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E39E541-4F72-4E50-A615-49E1FFC9A41E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58471BB7-9D86-4063-BCA3-2DC5BBADAA8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>351ED8B0-52BE-4FC2-B1AA-B367032F49D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>691EF607-FFE2-44E8-A264-F2D570686AAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9964D2C7-BC11-4D7B-BCD3-83FBA1313EAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F2EF603-B6CC-4BEF-88EE-0D68066ACCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DD314C2-0AF2-46A3-8880-09DD6D56B01E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D883753-5A00-4863-B525-F8584DBA0FD1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in Finder</string>
			</dict>
		</array>
		<key>D28A9EB0-22D3-499C-8E09-BCD4D07A544A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DC11F89-BB86-4363-9950-25E61F0D69B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DD509A25-DAB1-4ED3-A9B4-5BD6C931BE07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>568F2D89-969D-4756-A5F6-33399DCFA96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC5B8B5B-24D7-4316-B2EA-E197F8AC4531</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42FF0B2B-46D2-410A-8D56-D0869528CB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bodo Junglas</string>
	<key>description</key>
	<string>Yet another layouter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Layout</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>l</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/perl layout_select.pl "{query}"</string>
				<key>subtext</key>
				<string>Layout window</string>
				<key>title</key>
				<string>Layout window</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>691EF607-FFE2-44E8-A264-F2D570686AAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "{query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>layother</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/perl layout_select.pl "{query}" +1</string>
				<key>subtext</key>
				<string>Layout window to other screen</string>
				<key>title</key>
				<string>Layout window to other screen</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1DABD84A-FE15-4A4F-8D33-40231B8E1DA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>set:0,0,1,1:+1</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>328173F0-A7F1-4EA9-BE6B-47353EAF5010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>move:0.5,0.5</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9964D2C7-BC11-4D7B-BCD3-83FBA1313EAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>
if [ ! -d ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout ]; then
  mkdir -p ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout
fi

if [ ! -e ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout/layouts.yaml ]; then
  cp default_layouts.yaml ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout/layouts.yaml
fi

open ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout/layouts.yaml</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DD314C2-0AF2-46A3-8880-09DD6D56B01E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lay_config</string>
				<key>subtext</key>
				<string>Open in Editor</string>
				<key>text</key>
				<string>Configure the window layout workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F2EF603-B6CC-4BEF-88EE-0D68066ACCE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>
if [ ! -d ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout ]; then
  mkdir -p ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout
fi

if [ ! -e ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout/layouts.yaml ]; then
  cp default_layouts.yaml ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout/layouts.yaml
fi

open ~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/de.leanovate.alfred.layout</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D883753-5A00-4863-B525-F8584DBA0FD1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0.1,0.1,0.9,0.9"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42FF0B2B-46D2-410A-8D56-D0869528CB59</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>c</string>
				<key>text</key>
				<string>Center</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC5B8B5B-24D7-4316-B2EA-E197F8AC4531</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0,0,1,1"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>673C9067-7A5F-456B-8D36-9944A2E363B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>f</string>
				<key>text</key>
				<string>Full</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29660068-25AD-4F84-BDFF-A53D0AA57A5B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "move:0.5,0.5"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E39E541-4F72-4E50-A615-49E1FFC9A41E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>m</string>
				<key>text</key>
				<string>Move to Center</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>546DA8C7-B598-424E-A5D6-84E7F9B28E9F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>e</string>
				<key>text</key>
				<string>Left</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D28A9EB0-22D3-499C-8E09-BCD4D07A544A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0,0,0.5,1"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9DC11F89-BB86-4363-9950-25E61F0D69B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0.5,0,1,1"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>568F2D89-969D-4756-A5F6-33399DCFA96D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>r</string>
				<key>text</key>
				<string>Right</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD509A25-DAB1-4ED3-A9B4-5BD6C931BE07</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0,0,1,0.5"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>351ED8B0-52BE-4FC2-B1AA-B367032F49D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t</string>
				<key>text</key>
				<string>Top</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58471BB7-9D86-4063-BCA3-2DC5BBADAA8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>/usr/bin/perl layout.pl "set:0,0.5,1,1"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A48E0764-141D-4E14-A1DF-B500E5E78025</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>b</string>
				<key>text</key>
				<string>Bottom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>277EB8CF-2B86-4F8D-868C-7E39EE34ACD7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1DABD84A-FE15-4A4F-8D33-40231B8E1DA3</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>277EB8CF-2B86-4F8D-868C-7E39EE34ACD7</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>29660068-25AD-4F84-BDFF-A53D0AA57A5B</key>
		<dict>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>328173F0-A7F1-4EA9-BE6B-47353EAF5010</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>351ED8B0-52BE-4FC2-B1AA-B367032F49D3</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>4109C8CA-8D0F-4B02-A658-9D6CB5630508</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>42FF0B2B-46D2-410A-8D56-D0869528CB59</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>546DA8C7-B598-424E-A5D6-84E7F9B28E9F</key>
		<dict>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>568F2D89-969D-4756-A5F6-33399DCFA96D</key>
		<dict>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>58471BB7-9D86-4063-BCA3-2DC5BBADAA8C</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>5DD314C2-0AF2-46A3-8880-09DD6D56B01E</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>673C9067-7A5F-456B-8D36-9944A2E363B8</key>
		<dict>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>691EF607-FFE2-44E8-A264-F2D570686AAB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6E39E541-4F72-4E50-A615-49E1FFC9A41E</key>
		<dict>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>9964D2C7-BC11-4D7B-BCD3-83FBA1313EAE</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>9D883753-5A00-4863-B525-F8584DBA0FD1</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>9DC11F89-BB86-4363-9950-25E61F0D69B3</key>
		<dict>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>9F2EF603-B6CC-4BEF-88EE-0D68066ACCE9</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>A48E0764-141D-4E14-A1DF-B500E5E78025</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>D28A9EB0-22D3-499C-8E09-BCD4D07A544A</key>
		<dict>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>DD509A25-DAB1-4ED3-A9B4-5BD6C931BE07</key>
		<dict>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>EC5B8B5B-24D7-4316-B2EA-E197F8AC4531</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/untoldwind/alfred2-layout</string>
</dict>
</plist>
